:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin-bottom: 0;
}

h1 {
    margin: 20px;
    color: var(--primary-color);
}

form {
    margin: 20px 10px;
}

#date, #year {
    padding-left: 3px;
}

.datepicker::-webkit-inner-spin-button, .datepicker::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.date-select-container, .genre-select-container, .food-type-select-container, .submit-button-container {
    margin: auto;
    margin: 0;
    padding: 10px;
}

#date, #year {
    background: var(--primary-color);
    border-bottom: 0;
    border-radius: 5px;
}

.date-select-container label input {
    margin: 10px;
}

select {
    display: block;
}

label {
    font-size: 20px;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.planned-dates-container {
    text-align: center;
}


.food-section, .movie-section {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    margin: 20px 5px;
    padding: 10px;
}

.modal-trigger {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    margin: 0;
}

.food-image {
    width: 300px;
    height: 200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.ingredients-title {
    font-size: 28px;
}

.ingredient {
    font-size: 25px;
}

.movie-poster {
    width: 250px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

footer {
    background-image: url(../images/Movie-image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 285px;
}
