:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/Movie-image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: 20px;
    color: var(--primary-color);
}

form {
    margin: 20px 10px;
}

.date-select-container, .genre-select-container, .food-type-select-container, .submit-button-container {
    margin: auto;
    margin: 0;
    padding: 10px;
}

#date, #year {
    background: var(--primary-color);
    border-bottom: 0;
    border-radius: 5px;
}

.date-select-container label input {
    margin: 10px;
}

select {
    display: block;
}

label {
    font-size: 20px;
    color: var(--secondary-color);
}

.food-section, .movie-section {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    margin: 20px 5px;
    padding: 10px;
}

h2 {
    margin: 0;
}

.food-image {
    width: 300px;
    height: 200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    background-color: #001058;
    color: #c50000;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
}

.ingredients-title {
    font-size: 28px;
}

.ingredient {
    font-size: 25px;
}

.movie-poster {
    width: 250px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
